.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .companies {
    flex: 0 1 40%;
    &-btn {
      font-size: 0.8rem;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 1px;

      border: none;
      box-shadow: none;
      margin-top: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  @include response(lg) {
    flex-direction: column;
    .companies {
      display: flex;
      flex-direction: column;
    }
  }
}
