.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  letter-spacing: $letter-spacing;
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .search-input {
    display: inline-block;
    padding: 0.3rem;
    border-radius: 5px;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;

    &-btn {
      font-size: 0.8rem;
      text-transform: capitalize;
      letter-spacing: 1px;

      border: none;
      padding: 0.5rem;
      border-radius: 10px;
      box-shadow: none;
      margin: 0.3rem;
      cursor: pointer;
    }
  }
  @include response(lg) {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    .companies {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
}
